<%= form_for(current_user.posts.build) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title..." %>
    <%= f.text_area :content, placeholder:
        "This field supports markup e.g. <b>emphasise</b> your words" %>
  </div>
  <%= f.label :uploads %>
  <%= f.file_field :uploads %>
  <%= f.submit "Save as draft", class: "btn btn-primary" %>
<% end %>
