<% provide(:title, "Edit blog post") %>
<h1>Update your blog</h1>
<div class="field">
  <%= form_for(post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_field :title %>
    <%= f.text_area :content %>
    <%= f.submit "Save changes", class: "btn btn-primary" %>
  <% end %>
</div>
<% if post.uploads.attached? %>
<p>
  <strong>Uploads:</strong>
  <br>
  <% post.uploads.each do |upload| %>
    <%= link_to image_tag(upload.variant(resize: "100x100")), upload %>
  <% end %>
</p>
<% end %>
