<% provide(:title, 'Blog posts') %>
<h1>All blog posts</h1>

<%= will_paginate %>

<div class = "posts">
  <% @posts.each do |post| %>
    <li>
      <span class="title"><%= post.title %></span>
      <span class="user">By <%= link_to post.user.name, "#" %></span>
      <span class="content"><%= markdown(post.content) %></span>
      <span class="timestamp">
        Posted <%= time_ago_in_words(post.created_at) %> ago.
      </span>
    </li>
  <% end %>
</div>

<%= will_paginate %>
