<% provide(:title, post.title) %>
<h1><%= post.title %></h1>
<div class = "posts">
  <span class="title"><%= markdown(post.title) %></span>
  <span class="user">By <%= link_to post.user.name, "#" %></span>
  <span class="content"><%= markdown(post.content) %></span>
  <%= link_to "edit", edit_post_path(post) %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
  <% if post.uploads.attached? %>
    <h5>Uploads:</h5>
    <% post.uploads.each do |upload| %>
      <%= link_to image_tag(upload.variant(resize: "100x100")), upload %>
    <% end %>
  <% end %>
</div>
